.chat-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.symptom-field {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  width: 367px;
  height: 46px;
  padding-left: 10px;
  font-size: 18px;
  box-shadow: inset 4px 4px 10px #234363;
  border-radius: 20px;
  padding-right: 40px;
  border: 3px solid black;
}

.symptom-field::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
}

.symptom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 7%;
}

.send-icon {
  margin-left: -35px;
  transform: rotate(220deg);
  z-index: 0;
}

.send-icon:hover {
  cursor: pointer;
  scale: 1.05;
}

.chat-message {
  width: 40%;
}

.float {
  background-image: url('https://i.imgur.com/VmI4PSC.png');
  width: 345px;
  height: 243px;

  position: absolute;
  animation-name: example;
  animation-duration: 2s;
  top: 30%;
  opacity: 0.25;
}
@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
