.aiBubble,
.userBubble {
  position: relative;
  padding: 0.25rem;
  border-radius: 5px;
}
.aiBubble::after,
.userBubble::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top-left-radius: 40px;

  position: absolute;
  bottom: -21px;
  z-index: -5;
}

.userBubble {
  background-color: #234363;
  color: white;
}

.userBubble::after {
  transform: rotate(225deg);
  right: -16px;
  border-top: 25px solid #234363;
}

.aiBubble {
  background-color: rgb(147, 180, 208);
}
.aiBubble::after {
  transform: rotate(-225deg);
  left: -16px;
  border-top: 25px solid rgb(147, 180, 208);
}

.bubble-row {
  margin: 0 0 0 0.25rem;
}
