.aiBubble,
.userBubble {
  position: relative;
  padding: 0.25rem;
}
.aiBubble::after,
.userBubble::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top-left-radius: 40px;

  position: absolute;
  right: -16px;
  bottom: -21px;
  transform: rotate(225deg);
}

.userBubble {
  background-color: #234363;
  color: white;
}

.userBubble::after {
  border-top: 25px solid #234363;
}

.aiBubble {
  background-color: aliceblue;
}
.aiBubble::after {
  border-top: 25px solid aliceblue;
}

.bubble-row {
  margin: 0 0 0 0.25rem;
}
